*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}
:root{
    --size: 4;
    --glassColor: rgba(255,255,255,0.1);
    --sensitiveGlass: rgba(255,255,255,0.3);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right,rgb(119, 205, 226),rgb(155, 88, 233));
    overflow: hidden;
}
.container{
    width: 360px;
    padding: 12px;
    background: var(--glassColor);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    border-top: 1px solid var(--sensitiveGlass);
    border-left: 1px solid var(--sensitiveGlass);
    box-shadow: 12px 28px 13px rgba(204, 194, 194, 0.007);
    transition: all .3s ease-in;
    .display{
        width: 100%;
        height: 100px;
        border-radius: 6px;
        text-align: right;
        padding-right: 20px;
        background: transparent;
        font-size: 22px;
    }
    .buttons{
        display: grid;
        grid-template-columns: repeat(var(--size), 1fr);
        grid-template-rows: repeat(5,65px);
        input[type="button"],
        button{
            cursor: pointer;
            font-size: 16px;
            border-radius: 12px;
            background: transparent;
            &:hover{
                background: var(--glassColor);
            }
        }

    }
}
.hide{
    display: none;
}
.extend-container{
    width: 720px;
}
.mode,
.extend-box{
    position: fixed;
    top: 25px;
    right: 25px;
    width: 150px;
    height: 40px;
    background: var(--glassColor);
    display: flex;
    align-items: center;
    .box{
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background: var(--sensitiveGlass);
        cursor: pointer;
        transform: translateX(0);
        transition: all .3s ease-in-out;
    }
    .move-box{
        transform: translateX(200%);
    }
    .dark-mode-text{
        transform: translateX(-70%);
    }
    .extend-mode-text{
        transform: translateX(-48%);
    }
    p{
        position: absolute;
        transform: translateX(0);
        transition: all .3s ease-in-out;
        font-size: 14px;
        right: 12px;
    }
}
.extend-box{
    top: 80px;
    margin-bottom: 200px;
}
.dark-mode-body{
    background: linear-gradient(to right,rgb(56, 60, 110),rgb(34, 90, 136));
}
.date{
    color: var(--sensitiveGlass);
    position: fixed;
    right: 25px;
    bottom: 25px;
}
.gift{
    font-size: 26px;
    color: var(--sensitiveGlass);
    font-weight: 600;
    z-index: -1;
}
.animation-wrapper{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    span{
        margin: 0 20px;
        display: block;
        color: var(--sensitiveGlass);
        font-size: 30px;
        animation: animatedNumbers 3.5s ease-in-out;
    }
}
@keyframes animatedNumbers{
    to{
        transform: translateX(90vh) translateY(90vh) rotate(120deg);
    }
}
@media(max-width: 1108px){
    .changes-container{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translate(-50%, -50%);
        .extend-box{
            top: 25px;
            right: -174px;
        }
        .animation-wrapper span{
            font-size: 20px;
        }
    }
}
@media(max-width: 700px){
    body{
        overflow: scroll;
    }
    .animation-wrapper{
        display: none;
    }
}